@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #121213;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121213;
    --text-color: #eee;
  }
}

:root {
  background: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
}
